# Claude API 
CLAUDE_API_KEY_ANTI=
CLAUDE_BASE_URL=
CLAUDE_MODEL_ID=
SUMMARIZE_MODEL=

# LangSmith
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Serper API
SERPER_API_KEY=

# AWS Authentication
AWS_ARN_ROLE=
AWS_REGION=eu-central-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Workflow Settings
CONFIDENCE_THRESHOLD=0.8
MAX_RETRIES=1
ADD_MAX_RESULTS=2

# UV
UV_LINK_MODE=copy
